@media (max-width: 1200px) {
  .wrapper {
    width: 100%;
  }
  .search__input {
    width: 200px;
  }
  .promo__wrap {
    padding-left: 15px;
    justify-content: space-between;
  }
  .promo__pagination {
    padding-left: 0;
  }
  .promo__img {
    width: ~"calc(100% - 385px)";
  }
  .promo__next,
  .promo__prev {
    display: none;
  }
  .catalog__item,
  .diler__btn,
  .promo__info {
    margin-right: 0;
  }
  .area__list {
    justify-content: space-around;
  }
  .area__item {
    margin-right: 0;
    margin-left: 0;
  }
  .blog__prev,
  .blog__next {
    display: block;
    top: 0;
    margin-top: 0;
  }
  .blog__prev {
    left: ~"calc(50% - 60px)";
  }
  .blog__next {
    right: ~"calc(50% - 60px)";
  }
  .blog__slider {
    padding-top: 70px;
  }
  .catalog__list {
    margin-right: 0;
    justify-content: space-around;
  }
  .card__info {
    width: ~"calc(100% - 600px)";
  }
}

@media (max-width: 1022px) {
  .header__top {
    flex-wrap: wrap;
    position: relative;
  }
  .menu__btn {
    display: block;
    width: 55px;
    height: 55px;
    background-image: url(../img/icons/menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px 30px;
    
    &--opened {
      background-image: url(../img/icons/cross.svg);
      background-size: 25px 25px;
    }
  }
  .menu__list {
    display: none;
    position: absolute;
    z-index: 1000;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #272621;
    color: #fff;
  }
  .header__basket {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    padding-left: 0;
    position: absolute;
    z-index: 100;
    top: 100%;
    right: 15px;
    
    span,
    .header__price {
      display: none;
    }
    
    svg {
      position: static;
      transform: none;
    }
  }
  .menu__item:first-child::before,
  .menu__item::after {
    display: none;
  }
  .menu__down {
    width: 58px;
    height: 58px;
    position: static;
    padding-right: 15px;
  }
  .menu__item {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid rgba(255,255,255,0.1);
    
    &:hover {
      background-color: inherit;
      
      .menu__sublist {
        display: none;
      }
      .menu__link {
        color: inherit;
      }
      .menu__down svg {
        stroke: #fff;
      }
    }
  }
  .menu__link {
    width: ~"calc(100% - 58px)";
    padding-left: 15px;
    padding-right: 0;
  }
  .menu__sublist {
    width: 100%;
    position: static;
    transform: none;
  }
  .menu__down--up {
    padding-left: 15px;
    padding-right: 0;
    transform: rotate(-180deg);
    .transition();
  }
  .promo__wrap {
    padding-top: 20px;
    flex-direction: column;
    align-items: center;
  }
  .promo__info {
    width: 100%;
    padding-bottom: 30px;
    padding-top: 0;
  }
  .promo__img {
    width: auto;
    height: auto;
    max-width: 100%;
  }
  .footer__menu,
  .diler__aside::before {
    display: none;
  }
  .diler__aside {
    left: 0;
    right: auto;
  }
  .footer__top {
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .footer__info {
    order: 1;
  }
  .footer__block--contacts {
    order: 2;
    width: 50%;
  }
  .footer__block--menu {
    order: 3;
    width: 50%;
    margin-top: 30px;
  }
  .footer__block--info {
    order: 4;
    width: 50%;
    margin-top: 30px;
  }
  .footer__title {
    span {
      position: relative;
      cursor: pointer;
      
      &::after {
        content: "";
        position: absolute;
        top: 2px;
        right: -30px;
        width: 14px;
        height: 14px;
        background-image: url(../img/icons/down-white.svg);
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }
  .card__info,
  .card__slider {
    width: 100%;
  }
  .card__wrap {
    display: block;
  }
  .card__slider {
    margin-bottom: 50px;
  }
}

@media (max-width: 766px) {
  .header__top {
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .search,
  .logo {
    margin-bottom: 10px;
  }
  .benefits__list {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .diler__wrap,
  .video__wrap {
    display: block;
  }
  .video__right,
  .video__block--main {
    width: 100%;
  }
  .video__block--main {
    height: 200px;
  }
  .video__block--main .video__link::after {
    width: 54px;
    height: 54px;
  }
  .video__block--main .video__overlay {
    font-size: 14px;
    bottom: 13px;
  }
  .diler__btn {
    margin-top: 30px;
  }
  .diler {
    padding-bottom: 50px;
  }
  .footer__info {
    width: 45%;
  }
  .footer__bottom {
    flex-direction: column;
    text-align: center;
    
    span {
      max-width: 100%;
    }
  }
  .social__item {
    margin-left: 10px;
    margin-right: 10px;
  }
  .catalog .title {
    position: static;
    margin-bottom: 20px;
    max-width: 100%;
  }
  .tabs__title {
    flex-direction: column;
  }
  .tabs__name {
//    width: 100%;
    margin: 0;
    text-align: center;
  }
  .tabs__name a::after {
    bottom: 20px;
  }
}

@media (max-width: 480px) {
  .promo__title {
    font-size: 32px;
  }
  .hit {
    padding-bottom: 30px;
  }
  .info__btn {
    font-size: 14px;
  }
  .subtitle {
    font-size: 20px;
  }
  .footer__info,
  .footer__block--info,
  .footer__block--menu,
  .footer__block--contacts {
    width: 100%;
  }
  .footer .logo img {
    width: 250px;
  }
  .footer__info {
    margin-bottom: 30px;
  }
  .blog__img img {
    height: 100%;
    width: auto;
    max-width: none;
  }
  .filter__btns {
    justify-content: space-around;
    
    .filter__btn {
      margin-left: 0;
    }
  }
  .filter__input {
    width: 120px;
    padding: 0 10px;
  }
  .filter__line {
    position: relative;
    flex-direction: column;
    align-items: flex-start;
  }
  .filter__clear {
    position: absolute;
    top: 26px;
    right: 0;
  }
  .filter__item {
    margin-top: 15px;
  }
  .gallery-top {
    height: 250px;
  }
  .card__slider .hit__labels {
    top: 0;
    left: 0;
  }
  .card__wrap {
    padding-top: 0;
  }
  .delivery,
  .delivery tbody,
  .delivery tr,
  .delivery td {
    display: block;
  }
  .delivery td:first-child,
  .delivery td:last-child {
    width: 100%;
    height: auto;
  }
  .delivery__articul p span,
  .delivery__city p span,
  .delivery__date p span,
  .delivery__price p span,
  .delivery__return p span {
    display: none;
  }
  .delivery tr {
    margin-bottom: 20px;
  }
  .delivery td:last-child {
    padding-left: 50px;
  }
  .tabs__table td:last-child {
    background-image: none;
  }
  .tabs__table td:first-child,
  .tabs__table td:last-child {
    width: 50%;
  }
}
